*~
*.a
*.bak
.cache
.clangd
core.[1-9]*
.coverage
.coverage.*
coverage.xml
CTAGS
*.cuo
CURRENT
dist
*.dll
.dmypy.json
doxygen
.DS_Store
*.dylib
*.egg-info
.eggs
.env
.envrc
.gdb_history
.gitconfig
GPATH
.gradle
GRTAGS
GSYMS
GTAGS
.hypothesis
.idea
.ipynb_checkpoints
*.la
*.lai
*.lib
*.lo
.~lock.*
LOCK
*.log
MANIFEST
MANIFEST-*
.mypy_cache
**/.nfs*
.ninja_deps
.ninja_log
*.o
*.obj
*.orig
*.*project
.psenvrc
*.pyc
__pycache__
*.pyd
.pyre
*.rej
scratch.py
.settings
_site
*.slo
*.so
*.sublime-project
*.sublime-workspace
*.swa
*.swb
*.swc
*.swd
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
tags
TAGS
*.user
venv
.vs
.vscode
.watchman
.watchmanconfig
*.zip
